<!DOCTYPE html>
<html>
<head>
	<title>Blank page layout</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	
</head>
<body>
<header>
	<p><h1>Logo</h1></p>
</header><!-- /header -->
<div id="navigation">
	<ul>
	<li><a href="#home">Home</a></li>
	<li><a href="#products">Products</a></li>
	<li><a href="#services">Services</a></li>
	<li><a href="#about">About</a></li>
	<li><a href="#contact">Contact</a></li>
</ul>
</span>
</div>
<div id="feature">
	 Feature
</div>

<div id="column">
	<div class="box1">Column one</div>
	<div class="box2">Column two</div>
	<div class="box3">Column three</div>
</div> 

<footer>
	<div> &#169; Copyright 2019 </div>
	
</footer>

</body>
</html>